on: [push]
jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/github-script@v6
      with:
        github-token: ${{ secrets.G_ACCESS_TOKEN }}
        #owner: ${{ secrets.PAT_USERNAME }}
        script: |
          await github.rest.actions.createWorkflowDispatch({
            owner: 'Himanshu199430'
            repo: 'Backend',
            workflow_id: 'blank.yml',
            ref: 'main'
          })
