---
name: Trigger Deploy test

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - run: |
          curl -X POST \
          -H "Authorization: Bearer ${{secrets.G_ACCESS_TOKEN}}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://github.com/Himanshu199430/Backend/actions/blank.yml/dispatches \
          -d '{"ref": "main"}'

