name: Deploy SNHU Release
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Release SNHU
    runs-on: ubuntu-latest
    steps:
      - name: Release SNHU code
        run: |
          echo "Deploy the SNHU Relesae"
      - uses: 
        with:
          owner: Himanshu199430
          repo: Backend
          github_token: ${{ secrets.G_ACCESS_TOKEN }}
          workflow_file_name: blank.yaml
